* {
  box-sizing: border-box;
}

.calculator {
  // border: 10px solid #C6C5C5;
  border-radius: 10px;
  margin: 100px auto;
  max-width: 450px;
  box-shadow: 
              20px 20px 50px grey,
              5px 5px black;
  // border-right: 4px solid grey;
  // border-bottom: 4px solid grey;
  padding: 30px;
  background: linear-gradient(to bottom right, #E8F6F6, #100B5B);
  .calculator-display {
    display: block;
    width: 100%;
    text-align: right;
    height: 100px;
    font-size: 35px;
    color: white;
    font-family: "calibri";
    padding: 50px 15px 15px 10px;
    margin: 10px auto;
    background: linear-gradient(to bottom right,#1B2E4C, #2E2977);
    border-style: inset;
  }
  .calculator-keys {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    button {
      font-family: "calibri";
      font-size: 25px;
      // background: linear-gradient(to bottom right, white, #BEC1C1);
      background: linear-gradient(to bottom right, white, #8F8FA0);
      margin: 5px;
      border-radius: 10px;
      border-bottom: 4px solid #666666;
      border-right: 4px solid #666666;
      box-shadow: 4px 4px 8px #2E2977;
    }
    button:hover {
      transition: 0.4s;
      background: radial-gradient(#E6E6E6 10%, #F0EFEF);
    }
    button:focus {
      outline: none;
    }
    button:active {
      border: none;
      background: #E6E6E6;
      border: 2px solid #666666;
    }
  }
}
