.SkillContainer {
    position: relative;
    box-sizing: border-box;
    background: rgb(5, 5, 37);
    display: flex;
    justify-content: center;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    margin: auto;
    color: white;
}